---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    
.presentations {
  list-style: none;
  padding: 0;
  margin: 0;
}

.presentations li {
  margin-bottom: 10px;
}

h3 {
  font-family: Arial, sans-serif;
  color: #333;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}
  </body>
</html>
